{{#if (notEmpty payload.posts.0.comments)}}
  {{#each payload.posts.0.comments as |comment|}}
    <div class="comment-box">
      <p>Left By
        <span
          style="color: #3a7284; font-weight: 900; text-decoration: underline;"
        >{{comment.user.username}}</span>
        on
        <span style="color: #234f4a">{{formatDate
            comment.createdAt
          }}:</span></p>
      <p style="color: black">{{comment.content}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No comments</p>
{{/if}}