<div>
  <h2>Login:</h2>
  <div>
    <label for="username">Enter Username:</label>
    <input
      name="username"
      type="text"
      placeholder="Enter Username"
      id="username-field"
    />
  </div>
  <div>
    <label for="password">Enter Password:</label>
    <input
      name="password"
      type="password"
      placeholder="Enter Password"
      id="password-field"
    />
  </div>
  <button id="login-btn">Login</button>
  <a href="/signup">Sign Up</a>
</div>

<script src="/js/login.js"></script>