{{>post-box this}}

<div id="post-id" data-post-id="{{payload.posts.[0].id}}">
    {{#if payload.session.loggedIn}}
        <p>Leave a Comment:</p>
        <textarea name="comment-body" type="text" placeholder="..." id="content-field"></textarea>
        <button id="comment-btn">Post Comment</button>
    {{else}}
        <p>You must create an account or log in to leave a comment.</p>
    {{/if}}
    <div>
        <p>Comments:</p>
        <div class="comment-container">
            {{>comment-box this}}
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>