:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #422970;
  --border-radius: 0.4rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary);
  color: var(--dark);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
}

h2 a:visited {
  color: var(--tertiary);
}

h2 a {
  color: var(--primary);
}

header {
  margin-top: 50px;
}

input {
    background: #FFF;
    border: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
}

main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 1.2rem;
}

textarea {
    height: 100px;
    resize: none;
    width: 100%;
    border-radius: 20px;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.app-title {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  color: var(--dark);
  display: inline-block;
  font-size: 3rem;
  padding: 0 10px;
}

.app-title a {
  color: var(--dark);
}

.btn {
  background-color: var(--light-dark);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px var(--dark);
  color: var(--primary);
  display: block;
  margin: 5px 0;
  outline: none;
  padding: 7px 6px;
  text-decoration: none;
  transform: translate(-1px, -1px);
  width: 100%;
}

.btn:hover {
  background-color: var(--tertiary);
  box-shadow: 2px 2px var(--dark);
  color: var(--primary);
  transform: translate(0, 0);
}

.btn-inline, .li-inline {
  display: inline;
}

.card-header h2 {
  color: var(--primary);
}

.card {
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  margin: 0 0 20px 0;
}

.card-header {
  background-color: var(--dark);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  color: var(--primary);
  padding: 1%;
}

.card-body {
  padding: 1%;
}

.comment-box {
    background-color: #b79cc7;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
}

.comment-box p {
    color: white;
}

.col-auto {
  flex-grow: 1;
}

.content-box {
    background-color: #5b575c;
    border-radius: 20px;
    padding: 10px;
}

.edit-btn {
    background-color: #5b575c;
    border: 0;
    border-radius: 15px;
    color: white;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: fit-content;
}

.edit-btn:hover {
    filter: brightness(80%);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer a {
  background-color: var(--dark);
  border-radius: var(--border-radius);
  color: var(--primary);
  display: inline-block;
  margin-bottom: .5em;
  padding: 1em;
  text-decoration: none;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 1%;
  width: 100%;
}

.heading-box {
    background-color: #422970;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.heading-box:hover {
    filter: brightness(80%);
}

.hero {
  background-color: var(--dark);
  color: var(--primary);
  padding: 3% 4%;
}

.hero p {
  max-width: 75%;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.list-group {
  padding: 1%;
}

.list-item {
  background-color: var(--light-dark);
  border-radius: var(--border-radius);
  color: var(--primary);
  margin-bottom: 10px;
  padding: 1.5%;
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--dark);
}

.navbar {
  background-color: var(--dark);
  position: fixed;
  width: 100%;
}

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color: var(--primary);
}

.post-box {
    background-color: #856ca0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    width: 70%;
}

.post-box p {
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

.text-uppercase {
  text-transform: uppercase;
}
